<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Работа с БД</title>
        <meta charset="utf-8"/>
    </head>
<body>

<form action="addProject">
    <button>[ДОБАВИТЬ]</button>
</form>

<form action="readProject">
    <button>[ПРОСМОТРЕТЬ]</button>
</form>

<form action="editProject">
    <button>[РЕДАКТИРОВАТЬ]</button>
</form>

<form action="removeProject">
    <button>[УДАЛИТЬ]</button>
</form>

<form action="index">
    <button>[НАЗАД]</button>
</form>
</body>
</html>