<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Работа с БД</title>
        <meta charset="utf-8"/>
    </head>
<body>
<form action="addWorker">
    <button>[ДОБАВИТЬ]</button>
</form>

<form action="readWorker">
    <button>[ПРОСМОТРЕТЬ]</button>
</form>

<form action="editWorker">
    <button>[РЕДАКТИРОВАТЬ]</button>
</form>

<form action="removeWorker">
    <button>[УДАЛИТЬ]</button>
</form>

<form action="index">
    <button>[НАЗАД]</button>
</form>
</body>
</html>