<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Работа с БД</title>
</head>
<body>
<h2>[ДОБАВЛЕНИЕ]</h2>
<form action="addWorker/action" method="post" enctype="application/x-www-form-urlencoded">
    <div>
        <label for="SecondName">Фамилия</label>
        <input name="SecondName" id="SecondName" type="text" />
    </div>
    <div>
        <label for="Name">Имя</label>
        <input name="Name" id="Name" type="text" />
    </div>
    <div>
        <label for="Patronymic">Отчество</label>
        <input name="Patronymic" id="Patronymic" type="text" />
    </div>
    <div>
        <label for="Email">Email</label>
        <input name="Email" id="Email" type="text" />
    </div>
    <div>
        <input type="submit" value="Отправить" />
    </div>
</form>
<form action="workerView">
    <button>[НАЗАД]</button>
</form>
</body>
</html>